<h2><%= t('.edit_account') %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render 'devise/shared/error_messages', resource: resource  %>
  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :nickname %>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p><%= t '.currently_awaiting_confirmation', email: resource.unconfirmed_email %></p>
    <% end %>
    <%= f.input :password, autocomplete: "off", hint: t('.leave_blank_if_no_change'), required: false %>
    <%= f.input :password_confirmation, required: false %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t('.update') %>
  </div>
<% end %>

<h3><%= t('.unhappy') %></h3>
<p><%= link_to t('.cancel_my_account'), registration_path(resource_name), data: { confirm: t('.are_you_sure') }, method: :delete %></p>
