<h2><%= t('.sign_up') %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <fieldset class="form-inputs">
      <legend><%= t('.or_with_password') %></legend>
      <%= f.input :email, required: true, autofocus: true %>
      <%= f.input :nickname %>
      <%= f.input :password, required: true %>
      <%= f.input :password_confirmation, required: true %>
      <div class="form-actions">
        <%= f.button :submit, t('.sign_up') %>
      </div>
    </fieldset>
<% end %>

<%= render "devise/shared/links" %>
