<div class="row">
  <h2>Sign up</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

      <%= devise_error_messages! %>

      <fieldset>
        <legend>You can sign up with one of these services</legend>
        <div class="auth-providers">
          <%= render "devise/shared/auth_providers" %>
        </div>
      </fieldset>

      <fieldset>
        <legend>Or, if your not into those "social media shenanigans"</legend>
        <%= f.div_field_with_label(:email, type: :email, autofocus: true ) %>
        <%= f.div_field_with_label(:nickname, type: :text ) %>
        <%= f.div_field_with_label(:password, type: :password) %>
        <%= f.div_field_with_label(:password_confirmation, type: :password) %>
      </fieldset>

      <div><%= f.submit "Sign up" %></div>
  <% end %>
</div>