<script type="text/javascript" charset="utf-8">
	$(function () {
		var dataset = 	[ 
		{ yaxis: 1, data: <%= @measures.map { |m| [ (m.created_at.to_i+Time.zone.utc_offset) * 1000, m.max_wind_speed]}.to_json %>,  id: "max", lines: { show: true, lineWidth: 0, fill: false} },
		{ yaxis: 1, data: <%= @measures.map { |m| [ (m.created_at.to_i+Time.zone.utc_offset) * 1000, m.min_wind_speed]}.to_json %>,  fillBetween: "max", lines: { show: true, lineWidth: 0, fill: 0.5}, color: "rgb(80,80,255)"},
		{ yaxis: 1, label: "Windspeed", color: "rgb(0,0,255)", shadowSize: 0, data: <%= @measures.map { |m| [ (m.created_at.in_time_zone.to_i+Time.zone.utc_offset) * 1000, m.speed]}.to_json %>},
		{ yaxis: 2, color: "rgb(255,0,0)", data: <%= @measures.map { |m| [ (m.created_at.in_time_zone.to_i+Time.zone.utc_offset) * 1000, m.direction/10]}.inspect %>, label: "Direction" },
		];
		function speedUnitAdder(v, axis) {
			return v.toFixed(axis.tickDecimals) + "m/s";
		}
		
		$.plot($("#placeholder"), dataset,
			{ 
				xaxes: [
					{mode: 'time'}
				], 
				yaxis: { min: <%= @chart_min %>, max: <%= @chart_max %>, position: "left", tickFormatter: speedUnitAdder},
				yaxes: [ {}, { tickSize: 45, max: 360, position: "right", 
				ticks: [
					[0, "N"], [45, "NE"], [90, "E"], [135, "SE"], 
					[180, "S"], [225, "SW"], [270, "W"], [315, "NW"], [360, "N"]
					] } ]
			} );
	});
</script>
<div id="placeholder" style="width:600px;height:300px"></div>