<%= form_for(@station) do |f| %>

    <div class="row">
      <div class="small-6 large-8 columns">
        <%= f.div_field_with_label(:name,  type: :text, class: "has_tip", title: "Used to create friendly urls") %>
        <%= f.div_field_with_label(:slug, type: :text, class: "has_tip", title: "Used to create friendly urls")  %>
        <%= f.div_field_with_label(:hw_id, type: :text, label: 'Hardware ID') %>
        <%= f.div_field_with_label(:latitude, type: :text, class: "has_tip", title: "Degrees decimal please!") %>
        <%= f.div_field_with_label(:longitude, type: :text, class: "has_tip", title: "Degrees decimal please!") %>
        <%= f.div_field_with_label(:user_id, label: "Owner") do |key|
          f.select(:user_id, options_from_collection_for_select(User.all, :id, :email), { include_blank: true  })
        end
        %>
      </div>
      <aside class="help small-6 large-4 columns">
        <h3>Need Help?</h3>
        <dl>
          <dt>Name</dt>
          <dd>A human readable name for the station. All utf-8 characters ok!</dd>
          <dt>Slug</dt>
          <dd>Used to create friendly urls.</dd>
          <dt>Latitude & Longitude</dt>
          <dd>Use <a href="http://en.wikipedia.org/wiki/Decimal_degrees">degrees decimal</a> please!</dd>
        </dl>
      </aside>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>