<%= form_for(@station) do |f| %>

<%=
    f.div_field_with_label(:name) do |key|
      f.email_field(key)
    end
%>
<%=
    f.div_field_with_label(:hw_id, 'Hardware ID') do |key|
      f.text_field(key)
    end
%>
<%=
    f.div_field_with_label(:latitude) do |key|
      f.text_field(key)
    end
%>
<%=
    f.div_field_with_label(:longitude) do |key|
      f.text_field(key)
    end
%>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>