<%= form_for(@station) do |f| %>

<%=
    f.div_field_with_label(:name) do |key|
      f.text_field(key)
    end
%>
<%=
    f.div_field_with_label(:slug) do |key|
      f.text_field(key)
    end
%>
<%=
    f.div_field_with_label(:hw_id, 'Hardware ID') do |key|
      f.text_field(key)
    end
%>
<%=
    f.div_field_with_label(:latitude) do |key|
      f.text_field(key)
    end
%>
<%=
    f.div_field_with_label(:longitude) do |key|
      f.text_field(key)
    end
%>
<%= f.div_field_with_label(:user_id, "Owner") do |key|
        f.select(:user_id, options_from_collection_for_select(User.all, :id, :email), { include_blank: true  })
    end
%>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>