<%= simple_form_for @station do |f| %>
    <%= f.input(:name) %>
		<%= f.input(:description) %>
    <%= f.input(:slug) %>
    <%= f.input(:hw_id) %>
    <%= f.input(:latitude) %>
    <%= f.input(:longitude) %>
    <%= f.input(:user, hint: "#{link_to t('simple_form.hints.station.user'), new_user_invitation_path}".html_safe ) do %>
    <%= f.select( :user_id,
        options_from_collection_for_select(User.all, :id, :email),
        include_blank: true
    )
    %>
    <% end %>
    <%= f.input(:show) %>
    <%= f.input(:speed_calibration,  min: 0, max: 10, step: 0.01) %>
    <%= f.input(:sampling_rate,  min: 0, max: 10, step: 0.01) %>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>

<% if @station.persisted? %>
  <%= simple_form_for @station do |f| %>
    <% if @station.deactivated?  %>
      <%= f.hidden_field(:status, value: 'active')  %>
      <%= f.submit('Activate') %>
    <% else %>
      <%= f.hidden_field(:status, value: 'deactivated')  %>
      <%= f.submit('Deactivate') %>
    <% end %>
  <% end %>
<% end %>
