<%= simple_form_for @station do |f| %>
    <%= f.input(:name) %>
		<%= f.input(:description) %>
    <%= f.input(:slug) %>
    <%= f.input(:hw_id) %>
    <%= f.input(:latitude) %>
    <%= f.input(:longitude) %>
    <%= f.association(:user) %>
    <%= f.input(:timezone, as: :select, collection: timezone_options ) %>
    <%= f.input(:speed_calibration,  min: 0, max: 10, step: 0.01) %>
    <%= f.input(:sampling_rate,  min: 0, max: 10, step: 0.01) %>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>

<% if @station.persisted? %>
  <%= simple_form_for @station do |f| %>
    <% if @station.deactivated?  %>
      <%= f.hidden_field(:status, value: 'active')  %>
      <%= f.submit('Activate') %>
    <% else %>
      <%= f.hidden_field(:status, value: 'deactivated')  %>
      <%= f.submit('Deactivate') %>
    <% end %>
  <% end %>
<% end %>
