<div class="marker hidden" data-lat="<%= @station.lat %>" data-lon="<%= @station.lon %>">
  <h3 class="title"><%= @station.name %></h3>
  <% if @station.measures? %>
      <% current_measure = @station.current_measure %>
      <div class="measure" data-direction="<%= current_measure.direction %>" data-speed="<%= current_measure.speed %>" data-min-speed="<%= current_measure.min_wind_speed %>" data-max-speed="<%= current_measure.max_wind_speed %>">
        <dl>Wind speed</dl>
      </div>
  <% end %>
</div>