<table class="station-meta small-12 columns">
    <tbody>
      <tr class="created-at">
        <td>Created</td>
        <td><%= time_date_hours_seconds(@station.created_at_local) %></td>
      </tr>
      <% unless @station.updated_at.nil? %>
      <tr class="updated-at">
        <td>Updated</td>
        <td><%= time_date_hours_seconds(@station.updated_at_local) %></td>
      </tr>
      <% end %>
      <% if @station.user.present? %>
      <tr class="owner">
        <dt>Owner</dt>
        <dd><%= link_to(@station.user.nickname, user_path(@station.user)) %></dd>
      </tr>
      <% end %>
      <% unless @station.last_measure_received_at.nil? %>
      <tr class="last-measure-received-at">
        <td>Last data recieved at</td>
        <td><%= time_date_hours_seconds(@station.last_measure_received_at_local) %></td>
      </tr>
      <% end %>
      <tr class="latitude">
        <td>Latitude</td>
        <td><%= @station.lat %></td>
      </tr>
      <tr class="longitude">
        <td>Longitude</td>
        <td><%= @station.lon %></td>
      </tr>
      <tr class="timezone">
        <td>Timezone</td>
        <td><%= @station.timezone %></td>
      </tr>
      <tr class="visible">
        <td>Visible</td>
        <td><%= @station.show ? 'yes' : 'no' %></td>
      </tr>
      <tr class="speed-calibration">
        <td>Speed Calibration</td>
        <td><%= @station.speed_calibration.round(2) %></td>
      </tr>
  </tbody>
</table>