<table class="station-meta small-12 columns">
    <tbody>
      <tr class="created-at">
        <td>Created</td>
        <td><%= time_date_hours_seconds(@station.created_at_local) %></td>
      </tr>
      <% unless @station.updated_at.nil? %>
      <tr class="updated-at">
        <td>Updated</td>
        <td><%= time_date_hours_seconds(@station.updated_at_local) %></td>
      </tr>
      <% end %>
      <tr class="status">
        <td>Updated</td>
        <td><%= @station.status %></td>
      </tr>
      <% if @station.user.present? %>
      <tr class="owner">
        <td>Owner</td>
        <td><%= link_to(@station.user.nickname, user_path(@station.user)) %></td>
      </tr>
      <% end %>
      <% unless @station.last_observation_received_at.nil? %>
      <tr class="last-observation-received-at">
        <td>Last data recieved at</td>
        <td><%= time_date_hours_seconds(@station.last_observation_received_at_local) %></td>
      </tr>
      <% end %>
      <tr class="latitude">
        <td>Latitude</td>
        <td><%= @station.lat %></td>
      </tr>
      <tr class="longitude">
        <td>Longitude</td>
        <td><%= @station.lon %></td>
      </tr>
      <tr class="timezone">
        <td>Timezone</td>
        <td><%= @station.timezone %></td>
      </tr>
      <tr class="firmware">
        <td>Firmware</td>
        <td><%= @station.firmware_version %></td>
      </tr>
      <tr class="gsm_software">
        <td>GSM Modem firmware</td>
        <td><%= @station.gsm_software %></td>
      </tr>
      <tr class="visible">
        <td>Visible</td>
        <td><%= @station.show ? 'yes' : 'no' %></td>
      </tr>
      <tr class="speed-calibration">
        <td>Speed Calibration</td>
        <td><%= @station.speed_calibration.round(2) %></td>
      </tr>
      <tr class="sampling-rate">
        <td>Sampling Rate</td>
        <td><%= readable_duration( @station.sampling_rate ) %></td>
      </tr>
  </tbody>
</table>
