<table class="stations large-12 columns">
  <thead>
  <tr>
    <th>Name</th>
    <th>Wind speed</th>
    <th>Direction</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>
  <% @stations.each do |station| %>
      <% observation = station.observations.last.presence %>
      <tr class="station" id="station-<%= station.id %>">
        <td class="name"><%= link_to station.name, station %></td>
        <td class="speed">
          <%= speed_min_max(observation) if observation %>
        </td>
        <td class="direction">
          <% if observation %>
              <%= degrees_and_cardinal(observation.direction) %>
          <% end %>
        </td>
        <td>
          <% unless station.active? %>
              <span class="label success">Active</span>
          <% else %>
              <span class="label alert"><%= station.status %></span>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
