<table class="stations large-12 columns">
  <thead>
  <tr>
    <th>Name</th>
    <th>Wind speed</th>
    <th>Direction</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>
  <% @stations.each do |station| %>
      <% observation = station.observations.last.presence %>
      <tr class="station" id="station-<%= station.id %>">
        <td class="name"><%= link_to station.name, station %></td>
        <td class="speed">
          <% if observation %>
              <%= observation.speed %> (<%=  observation.min_wind_speed %> - <%= observation.max_wind_speed %>)
          <% end %>
        </td>
        <td class="direction">
          <% if observation %>
              <%= degrees_and_cardinal(observation.direction) %>
          <% end %>
        </td>
        <td>
          <% unless station.offline? %>
              <span class="label success">OK</span>
          <% else %>
              <span class="label alert">DOWN</span>
          <% end %>
        </td>
      </tr>

  <% end %>
  <% if can? :manage, Station && params[:controller] == 'stations' %>
      <tr class="station">
        <td><%= link_to 'New Station', new_station_path %></td>
      </tr>
  <% end %>
  </tbody>
</table>