<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @station.name %>
</p>

<p>
  <b>Hw:</b>
  <%= @station.hw_id %>
</p>

<p>
  <b>Lat:</b>
  <%= @station.lat %>
</p>

<p>
  <b>Lon:</b>
  <%= @station.lon %>
</p>


<%= link_to 'Edit', edit_station_path(@station) %> |
<%= link_to 'Back', stations_path %>
