
<% if params[:controller] == 'stations' %>
<h1>Wind stations</h1>
<% end %>
<div class="stations_map" id="stations_map">
</div>
<table class="stations">
  <thead>
    <tr>
      <th>Name</th>
      <th>Wind speed</th>
      <th>Direction</th>
      <% if can? :manage, Station %>
      <th>Actions</th>
      <% end %>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @stations.each do |station| %>
      <tr class="station">
        <td class="name"><%= link_to station.name, station %></td>

        <td class="speed">
          <% unless station.measures.empty? %>
            <%= station.current_measure.speed %>
          <% end %>
        </td>

        <td class="direction">
          <% unless station.measures.empty? %>
              <%=  station.current_measure.direction %> (<%=  station.current_measure.compass_point %>)
          <% end %>
        </td>

        <% if can? :manage, Station %>
        <td class="admin-only">
          <ul class="actions button-group tiny">
            <li><%= link_to 'Edit', edit_station_path(station), class: 'button tiny' %></li>
            <li><%= link_to 'Delete', station, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button alert tiny' %></li>
          </ul>
        </td>
        <% end %>
        <td>
            <% unless station.down? %>
            <span class="label success">OK</span>
            <% else %>
            <span class="label alert">DOWN</span>
            <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if can? :create, Station && params[:controller] == 'stations' %>
<p><%= link_to 'New Station', new_station_path %></p>
<% end %>

