<h1>Listing wind stations</h1>

<table>
<% @stations.each do |station| %>
  <tr>
    <td><%= link_to station.name, station %> <% unless station.current_measure.nil? %> <%= number_with_precision(station.current_measure.speed/100, :precision => 1) %> m/s 
 <%= number_with_precision(station.current_measure.direction/10, :precision => 1)  %>°<% end %> (<%= station.lat %>,<%= station.lon %>) IMEI: <%= station.hw_id %> <%= link_to "all measures", measures_url(:id => station.id)  %></td>
  </tr>
<% end %>
</table>