<h1>Listing wind stations</h1>

<table>
	<tr>
		<th>Name</th><th colspan="2">Last measure</th><th>No measures</th><th>Position</th><% if can?(:edit, Station) %><th>IMEI</th><%end%><th>Balance</th><th><!-- all measures--></th><% if can?(:edit, Station) %><th><!-- edit --></th><%end%><% if can?(:edit, Station) %><th><!-- remove/delete --></th><%end%><% if !current_user.nil?&&current_user.role?(:super_admin) %><th>Owner</th><%end%>
	</tr>
<% @stations.each do |station| %>
  <tr>
    <td><%= link_to station.name, station %><% if station.down %> - <font color="red">down</font><%end%></td>
		<% unless station.current_measure.nil? %>
			<td><%= number_with_precision(station.current_measure.speed/300, :precision => 1) %> m/s</td><td>
 <%= number_with_precision(station.current_measure.direction/10, :precision => 1)  %>°</td>
		<% else %>
			<td></td><td></td>
		<% end %>
		<td><%= link_to_if(can?(:clear, station) && station.measures.count!=0, station.measures.count, clear_measures_path(station)) %></td>
		<td><% unless station.lat.nil? && station.lon.nil? %><%= station.lat %>, <%= station.lon %><%end%></td>
		<% if can?(:edit, Station) %><td><%= station.hw_id %></td><%end%>
		<td><% unless station.balance.nil? %><%= station.balance/100%> kr<%end%></td>
		<td><%= link_to "all measures", measures_url(:id => station.id)  %></td>
		<% if can?(:edit, station) %><td><%= link_to 'edit', edit_station_path(station)%></td><%end%>
		<% if !current_user.nil?&&(station.owned_by?(current_user)||current_user.role?(:super_admin))%><td><%= link_to('delete', station_path(station), :confirm => 'Are you sure?', :method => :delete ) %></td><%end%>
		<% if !current_user.nil?&&current_user.role?(:super_admin) %><% if station.user.nil? %><td>None</td><%else%><td><%= station.user.email %></td><%end%><%end%>
  </tr>
<% end %>
</table>
<% if !current_user.nil?&&current_user.role?(:super_admin) %><%= link_to 'Register new', new_station_path %><% end %>