<p>
	Joel suggested we should have a Ruben Lenten adapted chart(see <a href="https://www.youtube.com/watch?v=DOVoWJxRMXM">here</a> why) so here it is!<br />
  <b>Name:</b><%= @station.name %> <b>Lat:</b><%= @station.lat %> <b>Lon:</b><%= @station.lon %></br>
	<% unless @measures.empty? %><b>Last measure:</b><%= number_with_precision(@station.calibrate_speed(@measures.last.speed), :precision => 1) %> m/s <b>Max:</b><%= number_with_precision(@station.calibrate_speed(@measures.last.max_wind_speed), :precision => 1) %> m/s <b>Min:</b><%= number_with_precision(@station.calibrate_speed(@measures.last.min_wind_speed), :precision => 1) %> m/s at <%= @measures.last.created_at.to_s(:myDateTimeFormat) %><%end%></br>
	<% if !@station.balance.nil? %> <b>Balance:</b><%= @station.balance/100 %> kr<% end %></br>
</p>
<%= render :partial => "chart" %>
</br>
<%= link_to "All measures", measures_url(:id => @station.id)  %> | 
<% if can? :update, @station %>
  <%= link_to 'Edit', edit_station_path(@station) %> |
<% end %>
<%= link_to 'Back', station_path(@station) %>
