<p>
<%= render :partial => "measure" %>
</p>
<p>
	<a href="#">Get embed code</a>
	<textarea class="share-embed-code" style="width: 600px; height: 40px;" onkeydown="if ((event.ctrlKey || event.metaKey) &amp;&amp; event.keyCode == 67) { yt.tracking.track('embedCodeCopied'); }">&lt;iframe width="600" height="300" src="<%= show_embed_station_url @station %>" frameborder="0"&gt;&lt;/iframe&gt;</textarea>
	</p>
<%= link_to "Measures", measures_url(:id => @station.id)  %> | 
<%= link_to 'Chart', :action => "show_chart", :id => @station %> |
<%= link_to 'Ruben chart', :action => "ruben_chart", :id => @station %> |
<% if can? :update, @station %>
  <%= link_to 'Edit', edit_station_path(@station) %> |
<% end %>
<%= link_to 'Back', stations_path %>
