<p>
  <%= @station.name %><br />
	<% if @measures.empty? %>
		No data for last 12 hours
	<% else %>
		<%= direction_in_words(@measures.last.direction) %> 
		<%= number_with_precision(@measures.last.speed, :precision => 1) %> (<%= number_with_precision(@measures.last.min_wind_speed, :precision => 1) %> - 
		<%= number_with_precision(@measures.last.max_wind_speed, :precision => 1) %>) m/s
		<%= time_ago_in_words(@measures.last.created_at) %> ago(<%= @measures.last.created_at.to_s(:hourMinutesSeconds) %>).<br />
		<br />
		<% if !@measures_short_time.empty? %>
			Short trend: <%= number_with_precision(slope(@measures_short_time.map {|v| (v.created_at - @measures_short_time.first.created_at).to_i }, @measures_short_time.map {|v| v.speed })*20*60, :precision => 1)%> m/s <%= number_with_precision(slope(@measures_short_time.map {|v| (v.created_at - @measures_short_time.first.created_at).to_i }, @measures_short_time.map {|v| v.direction })*20*60, :precision => 1)%>°<br />
		<%end%>
		<% if !@measures_longer_time.empty? %>
			Longer trend: <%= number_with_precision(slope(@measures_longer_time.map {|v| (v.created_at - @measures_longer_time.first.created_at).to_i }, @measures_longer_time.map {|v| v.speed })*60*60, :precision => 1)%> m/s <%= number_with_precision(slope(@measures_longer_time.map {|v| (v.created_at - @measures_longer_time.first.created_at).to_i }, @measures_longer_time.map {|v| v.direction })*60*60, :precision => 1)%>°<br />
		<%end%>
	<%end%>
	<% if can? :update, @station %>
		<% if !@station.balance.nil? %><br /><b>Balance:</b><%= @station.balance/100 %> kr.<br /><% end %>
	<% end %>
</p>
<%= link_to "Measures", measures_url(:id => @station.id)  %> | 
<%= link_to 'Chart', :action => "show_chart", :id => @station %> |
<% if can? :update, @station %>
  <%= link_to 'Edit', edit_station_path(@station) %> |
<% end %>
<%= link_to 'Back', stations_path %>
