<% content_for :map do %>
<div class="map-canvas small-12 large-12 columns no-fullscreen" data-lat="<%= @station.lat %>" data-lon="<%= @station.lon %>" id="map_canvas">
  <%= render partial: 'stations/map', locals: { stations: [@station] } %>
</div>
<% end %>

<h1><%= station_header(@station) %></h1>
<% unless @station.user.nil? %>
    <p>Owned by <%= link_to(@station.user.nickname, user_path(@station.user)) %></p>
<% end %>

<article class="station">

  <dl class="accordion" data-accordion>
    <% if @station.observations? %>
    <dd id="chart">
      <a href="#chart-panel">Chart</a>
      <div class="content chart-wrapper active clearfix" id="chart-panel">
        <%= render partial: 'observations/chart'%>
      </div>
    </dd>

    <dd id="table">
      <a href="#table-panel">Table</a>
      <div class="content clearfix" id="table-panel">
        <%= render partial: 'observations/table',
                   locals: { observations: @station.observations, station: @station }
        %>
        <p><%= link_to("More", station_observations_path(@station), _format: 'html' , class: 'button tiny radius') %></p>
      </div>
    </dd>
    <% end %>

    <% cache @station do %>
    <dd id="meta">
      <a href="#meta-panel">Meta</a>
      <div class="content clearfix" id="meta-panel">
        <%= render partial: 'stations/meta', object: @station %>
      </div>
    </dd>

    <dd id="embed">
      <a href="#embed-panel">Embed</a>
      <div class="content clearfix" id="embed-panel">
        <%= render partial: 'stations/embed', object: @station, id: @station %>
      </div>
    </dd>
    <% end %>

    <% if can? :manage, Station %>
    <dd id="admin">
      <a href="#admin-panel">Admin</a>
      <div class="content clearfix" id="admin-panel">
        <div class="admin-only btn-group">
          <%= link_to 'Edit', edit_station_path(@station), class: "button tiny" %>
          <%= clear_observations_button(@station) %>
        </div>
      </div>
    </dd>
    <% end %>
  </dl>
</article>

<ul class="breadcrumbs" role="navigation">
  <li class="root"><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'Stations', stations_path  %></li>
  <li class="current"><%= link_to @station.name, station_path(@station)  %></li>
</ul>

