<h1><%= @station.name %></h1>
<% unless @station.user.nil? %>
<p>Owned by <%= @station.user.email %></p>
<% end %>

<div class="row">
  <div class="map-canvas small-12 large-12 columns" data-lat="<%= @station.lat %>" data-lon="<%= @station.lon %>" id="map_canvas">
    <div class="marker hidden" data-lat="<%= @station.lat %>" data-lon="<%= @station.lon %>">
      <h3 class="title"><%= @station.name %></h3>
    </div>
  </div>
</div>

<% if @measures %>
<div class="section-container auto" data-section>
  <section class="active">
    <p class="title" data-section-title><a href="#panel1">Table</a></p>
    <div class="content row" data-section-content>
      <table class="measures small-12 large-12 columns">
        <thead>
        <th>Time</th>
        <th>Wind Speed</th>
        <th>Direction</th>
        <th>Max Wind Speed</th>
        <th>Min Wind Speed</th>
        </thead>
        <tbody>
        <% @measures.each do |measure| %>
            <%= render :partial => 'measures/measure', object: measure %>
        <% end %>
        </tbody>
      </table>
    </div>
  </section>
  <section>
    <p class="title" data-section-title><a href="#panel2">Chart</a></p>
    <div class="content" data-section-content>
      <div id="station_measures_chart" data-path="<%= station_measures_path(@station) %>" style="width:600px;height:300px"></div>
    </div>
  </section>
</div>
<% end %>

<% if can? :manage, Station %>
<div class="admin-only btn-group">
    <%= link_to 'Edit', edit_station_path(@station), class: "button tiny" %>
    <%= link_to "Clear all measures for this station?", station_measures_path(@station),
                :data => { :confirm =>  "Are you sure you want to delete all measues recorded b this station? This action cannot be undone!"  },
                :class =>"tiny button alert", :method => :delete %>
</div>
<% end %>
<ul class="breadcrumbs">
  <li class="root"><a href="<%= root_path %>">Home</a></li>
  <li><a href="<%= stations_path %>">Stations</a></li>
  <li class="current"><a href="<%= station_path(@station) %>"><%= @station.name %></a></li>
</ul>


