<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= @station.name %> - Remote Wind</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
</head>
<body>
    <div class="station-chart" id="station_observations_chart" data-path="<%= station_observations_path(@station) %>"
    height="<%= @embed_options[:height] %>" width="<%= @embed_options[:width] %>"></div>
</body>
</html>
