<!DOCTYPE html>
<html>
<head>
  <title><%= @station.name %> - Remote Wind</title>
  <% if @embed_options[:css] %>
  <%= stylesheet_link_tag    "application" %>
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,700,100italic,300italic,700italic' rel='stylesheet' type='text/css'>
  <% end %>
</head>
<body>
    <div class="remote-wind-widget" width="<%= @embed_options[:width] %>" height="<%= @embed_options[:height] %>">
      <%= render partial: 'observations/table',
                 locals: { observations: @observations, station: @station }
      %>
    </div>
</body>
</html>