<section class="row contents">
  <h1>Notifications</h1>
  <ul class="button-group actions">
    <li><%= link_to_mark_all_as_read(@user, @unread_notifications_count, {}) %></li>
  </ul>
  <% if @notifications.any? %>
      <ul class="notifications">
        <% @notifications.each do |note| %>
            <li class="<%= notification_classes(note).join(" ") %>" id="notification-<%= note.id %>">
              <time class="created-at" datetime="<%= time_date_hours_seconds( @user.to_local_time( note.created_at ) ) %>">
                <%= note.created_at.strftime("%F %R") %>
              </time>
              <div class="message"><%= note.message %></div>
              <%= link_to 'delete', user_notification_path(note, user_id: @user.to_param), method: :delete %>
            </li>
        <% end %>
      </ul>
  <% end %>
  <%= foundation_paginate(@notifications, params: { user_id: @user.to_param }) %>

  <%= form_tag user_notifications_path(user_id: @user.to_param), id: 'delete-notifications-form', method: :delete, class: 'panel radius' do %>
      <h3>Delete Notifications</h3>
      <div class="row">
        <p class="columns">that are</p>
        <div class="columns">
          <%= label_tag(:conditions, 'condition') %>
          <%= select_tag(:conditions, options_for_select([['Read or unread', 'all'], ['read', 'read']], 'read')) %>
        </div>
        <p class="columns">and older than</p>
        <div class="field small-6 columns">
          <%= label_tag(:time, 'time ago') %>
          <%= number_field_tag(:time, 1, min:0, max: 100, step: 1, value: 1 ) %>
        </div>
        <div class="field small-6 columns">
          <%= label_tag(:time_unit, 'unit') %>
          <%= select_tag(:time_unit, options_for_select( [['days', 'days'], ['weeks', 'weeks'], ['months', 'months'], ['years', 'years']], 'years')) %>
        </div>
      </div>
      <% if @notifications.any? %>
          <%= button_tag 'Delete', class: 'alert' %>
      <% else %>
          <%= button_tag 'Delete', class: 'disabled' %>
      <% end %>
  <% end %>

</section>

