<section class="row">
  <h3>Notifications</h3>
  <% if @notifications.any? %>
      <ul class="notifications">
        <% @notifications.each do |note| %>
            <li class="<%= notification_classes(note).join(" ") %>" id="notification-<%= note.id %>">
              <time class="created-at" datetime="<%= time_date_hours_seconds( @user.to_local_time( note.created_at ) ) %>">
                <%= note.created_at.strftime("%F %R") %>
              </time>
              <div class="message"><%= note.message %></div>
            </li>
        <% end %>
      </ul>
  <% end %>
</section>

<%= will_paginate @notifications %>
