<h1>Wind Stations</h1>
<p>Our wind stations are available in three different models.</p>
<div class="row">
  <div class="large-4 columns">
    <%= link_to image_tag('vindstation-001-200px.jpg', :class => "img-polaroid"), asset_path("vindstation-001.jpg"), :class => "gallery" %>
    <p>Just the electronics</p>
  </div>
  <div class="large-4 columns">
    <%= link_to image_tag('vindstation-002-200px.jpg', :class => "img-polaroid"), asset_path("vindstation-002.jpg"), :class => "gallery" %>
    <p>Electronics mounted in a weather proof case and with a battery monitor</p>
  </div>
  <div class="large-4 columns">
    <%= link_to image_tag('vindstation-003-200px.jpg', :class => "img-polaroid"), asset_path("vindstation-003.jpg"), :class => "gallery" %>
    <p>Electronics mounted in a weather proof case with battery and solar cell</p>
  </div>
</div>

<ul class="row breadcrumbs">
  <li class="root"><a href="<%= root_path %>">Home</a></li>
  <li class="current"><a href="<%= products_path %>">Products</a></li>
</ul>