<h2><%= t('.sign_in') %></h2>
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <fieldset class="oath-login">
      <legend><%= t('.you_can_login_with_oath') %></legend>
      <div class="auth-providers">
        <%= render 'devise/shared/auth_providers' %>
      </div>
    </fieldset>

    <fieldset class="password-login">
      <legend><%= t('.or_with_password') %></legend>
      <%= f.input :email, required: false, autofocus: true %>
      <%= f.input :password, required: false %>
      <%- if devise_mapping.rememberable? -%>
      <%= f.input :remember_me, label: t('.remember_me'), as: :boolean if devise_mapping.rememberable? %>
      <%- end -%>
      <div class="form-actions">
        <%= f.button :submit, t('.sign_in') %>
      </div>
    </fieldset>
<% end %>

<%= render "devise/shared/links" %>