<h1>Remote Wind</h1>
<p>Welcome to remote-wind. Here you can <%= link_to "view data", :controller => :measures, :action => :index %> from our wind
 stations or just see on a <%= link_to "map", stations_path %> where they are or just find one in the <%= link_to 'list', '/stations/list' %>.</p>
<p>Enjoy! Feedback is most welcome, send a <script language="Javascript">n="info";a="@";d="yelloworb";document.write("<a href='mailto:"+n+a+d+".com'>mail to us</a>");
</script>!</p>
<% if user_signed_in? %><p>
	<% if can?(:manage, Station) %><%= link_to "Manage", user_stations_path %> your wind stations.<br /><%end%>
	<% if can?(:create, Station) %><%= link_to "Register", new_station_path %> a new stations.<br /><%end%>
	<% if current_user.role?(:super_admin) %>
		<!-- #link_to "Assign", assign_stations_path %>--> Assign station to user.<br />
		<%= link_to "List", list_users_path %> all users.<br />
		<%end%>
</p><%end%>
<p>If you have bought your own wind station you can administer it through a personal account.<br />
<% if user_signed_in? %>
  <%= link_to('Edit profile', edit_user_registration_path) %> | <%= link_to('Logout', destroy_user_session_path, :method => :delete) %> 
<% else %>
  <%= link_to 'Sign up', new_user_registration_path %> | <%= link_to('Login', new_user_session_path)  %>  
<% end %>
</p>

