<h1>Blast.nu</h1>
<p>Welcome to blast.nu! Are you into a wind sport? We produce cheap and robust wind stations which report current wind speed and direction. We use open sourced hardware for these. Check the products page if you would like to find out more.<br />
	
	<div id="current">Loading map...</div>
	<div id="map_canvas" style="width:300px; height:350px"></div>
	
	<%= link_to_if(can?(:create, Station), 'Register new', new_station_path) %>

	Here you can <%= link_to "view data", :controller => :measures, :action => :index %> from our wind
 stations or just see on a <%= link_to "map", stations_path %> where they are or just find one in the <%= link_to 'list', '/stations/list' %>.</p>

<% if user_signed_in? %><p>
	<% if can?(:manage, Station) %><%= link_to "Manage", user_stations_path %> your wind stations.<br /><%end%>
	<% if can?(:create, Station) %><%= link_to "Register", new_station_path %> a new stations.<br /><%end%>
	<% if current_user.role?(:super_admin) %>
		<!-- #link_to "Assign", assign_stations_path %>--> Assign station to user.<br />
		<%= link_to "List", list_users_path %> all users.<br />
		<%end%>
</p><%end%>

<script>
function initialize_map()
{
    var myOptions = {
	      zoom: 4,
	      mapTypeControl: true,
	      mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.DROPDOWN_MENU},
	      navigationControl: true,
	      navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL},
	      mapTypeId: google.maps.MapTypeId.ROADMAP      
	    }	
	map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
}

function initialize()
{
	<% last_station = nil %>
	<% for station in @stations %>
		<% if station.lat %>
  		addMarker(new google.maps.LatLng(<%= station.lat %> ,<%= station.lon %>),map, "<%= station.name %>", ' <%= link_to(station.name, url_for(station)) %> <% unless station.current_measure.nil? %> <%= number_with_precision(station.current_measure.speed/300, :precision => 1) %> m/s <%= number_with_precision(station.current_measure.direction/10, :precision => 1)  %>°<% end %>');
			<% last_station = station %>
		<% end %>
	<% end %>
	<% unless last_station.nil? %>
		//map.panTo(new google.maps.LatLng(<%= last_station.lat %> ,<%= last_station.lon %>));
	<% end %>

	if(geo_position_js.init()) {
		document.getElementById('current').innerHTML="Receiving...";
		geo_position_js.getCurrentPosition(show_map_based_on_position, function() {document.getElementById('current').innerHTML="Couldn't get location";},{enableHighAccuracy:true});
	} else {
		document.getElementById('current').innerHTML="Your position is not available";
		show_map_based_on_last_station(<%= last_station.lat %>, <%= last_station.lon %>);
	}
}

function addMarker(pos, map, title, text) {
  var infowindow = new google.maps.InfoWindow({content: text});  
	var marker = new google.maps.Marker({ position: pos, map: map, title: title });

	google.maps.event.addListener(marker, 'click', function() {
	  infowindow.open(map,marker);
	});
}

function show_map_based_on_last_station(lat, lng) {
	map.panTo(new google.maps.LatLng(lat, lng));
}

function show_map_based_on_position(p) {
	document.getElementById('current').innerHTML="Your position (" +p.coords.latitude.toFixed(2)+ 
		","+p.coords.longitude.toFixed(2)+")";
	var pos = new google.maps.LatLng(p.coords.latitude,p.coords.longitude);
	map.setCenter(pos);
	map.setZoom(14);	
}

initialize_map();
initialize()

</script >
