<table class="measures">
  <thead>
    <th>Time</th>
    <% @measures.each do |m| %>
    <th><%= m.station.time_to_local(m.created_at) %></th>
    <% end %>
  </thead>
    <tbody>
        <tr class="min-wind-speed">
          <td><strong>Min</strong></td>
          <% @measures.each do |m| %>
          <td><%= m.min %></td>
          <% end %>
        </tr>
        <tr class="speed">
          <td><strong>Avg</strong></td>
          <% @measures.each do |m| %>
          <td><%= m.speed %></td>
          <% end %>
        </tr>
        <tr class="max-wind-speed">
          <td><strong>Max</strong></td>
          <% @measures.each do |m| %>
          <td><%= m.max %></td>
          <% end %>
        </tr>
        <tr class="direction">
          <td><strong>Direction</strong></td>
          <% @measures.each do |m| %>
          <td><%= degrees_and_cardinal(m.direction) %></td>
          <% end %>
        </tr>
    </tbody>
</table>