<tr class="measure">
  <td class="created_at"><%= time_in_24h measure.time %></td>
  <% unless params[:controller] == 'stations' %>
  <td class="station"><%= measure.station.name %></td>
  <% end %>
  <td class="direction"><%= degrees_and_cardinal(measure.direction) %></td>
  <td class="speed"><%= measure.speed %> (<%= measure.max %>-<%= measure.min %>)m/s</td>
</tr>