<tr class="measure">
  <td class="created_at"><%= time_date_hours_seconds(measure.station.time_to_local(measure.created_at)) %></td>
  <% unless params[:controller] == 'stations' %>
  <td class="station"><%= measure.station.name %></td>
  <% end %>
  <td class="direction"><%= degrees_and_cardinal(measure.direction) %></td>
  <td class="speed"><%= measure.speed %> (<%= measure.min %>-<%= measure.max %>)m/s</td>
</tr>