<tr class="measure">
  <td class="created_at"><%= measure.station.time_to_local(measure.created_at) %></td>
  <% unless params[:controller] == 'stations' %>
  <td class="station"><%= measure.station.name %></td>
  <% end %>
  <td class="direction"><%= degrees_and_cardinal(measure.direction) %></td>
  <td class="speed"><%= measure.speed %> (<%= measure.max %>-<%= measure.min %>)m/s</td>
</tr>