<%- model_class = Measure -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:speed) %></th>
      <th><%= model_class.human_attribute_name(:direction) %></th>
	    <th>When</th>
			<th>Diff</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @measures.each do |measure| %>
      <tr>
		    <td><%= number_with_precision(measure.speed/100, :precision => 1) unless measure.speed.nil? %> m/s max <%= number_with_precision(measure.max_wind_speed/100, :precision => 1) unless measure.max_wind_speed.nil? %> m/s, min <%= number_with_precision(measure.min_wind_speed/100, :precision => 1) unless measure.min_wind_speed.nil? %> m/s</td>
		    <td><%= number_with_precision(measure.direction/10, :precision => 1)unless measure.direction.nil? %>°</td>
		    <td><%= measure.created_at.to_s(:myDateFormat) %></td>
				<td><%= measure.time_diff %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_measure_path(measure), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      measure_path(measure),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_measure_path,
            :class => 'btn btn-primary' %>
