<table class="measures">
  <thead>
      <th>Time</th>
      <th>Station</th>
      <th>Wind Speed</th>
      <th>Direction</th>
      <th>Max Wind Speed</th>
      <th>Min Wind Speed</th>
      <th>Temperature</th>
  </thead>
  <tbody>
  <% @measures.each do |measure| %>
    <tr class="measure">
      <td class="created_at"><%= measure.created_at.to_s %></td>
      <td class="station"><%= measure.station.name %></td>
      <td class="speed"><%= measure.speed %></td>
      <td class="direction"><%= measure.direction %></td>
      <td class="min_wind_speed"><%= measure.min_wind_speed %></td>
      <td class="max_wind_speed"><%= measure.max_wind_speed %></td>
      <td class="temperature"><%= measure.temperature %></td>
    </tr>
  <% end %>
  </tbody>
</table>