<!-- PLACEHOLDERS! -->
<nav class="top-bar hide-for-small" style="">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1><%= link_to "Remote Wind", root_path %></h1>
    </li>
    <li class="toggle-topbar"><a href="#"></a></li>
  </ul>
  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <% unless user_signed_in? %>
      <li><%= link_to 'Sign up', new_user_registration_path %></li>
      <li><%= link_to 'Log in', new_user_session_path %></li>
      <% else %>
      <li class="logged-in has-dropdown">
        <a href="#">
          <div class="avatar">
            <img src="http://placehold.it/25x25">
            <%= current_user.email %>
          </div>
        </a>
        <ul class="dropdown">
          <li class="signout"><%= link_to "Edit profile", edit_user_registration_path %></li>
          <li class="signout"><%= link_to "Log out", destroy_user_session_path, :method => :delete %></li>
        </ul>
      </li>
     <% end %>

    </ul>
  </section>
</nav>

<% unless flash.empty? %>
    <header class="flashbar">
      <ul class="flashes">
        <% flash.each do |key, value| %>
            <li class="alert-box flash <%= key %>"><%= value %></li>
        <% end %>
      </ul>
    </header>
<% end %>