<!DOCTYPE html>
<html lang="en">
  <head>
  	<meta charset="utf-8" />
  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
  	<title><%= content_for?(:title) ? yield(:title) : "Remote Wind" %></title>
  	<%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/custom.modernizr" %>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,700,100italic,300italic,700italic' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  </head>

  <body>

    <header id="treetop">
      <%= render 'layouts/treetop' %>
    </header>
    <div class="contents row">
        <%= yield %>
    </div>
    <footer id="downunder">
      <%= render 'layouts/downunder' %>
    </footer>

    <%= javascript_include_tag "application" %>
    <script type="text/javascript">
        google.load("maps", "3", { other_params: "sensor=false", callback : function(){
            $(function(){
                $('body').trigger('maps-api-loaded');
            });
        }});
    </script>

  </body>
</html>
