<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title><%= title %></title>
  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Remote Wind - open source wind data.">
  <%= stylesheet_link_tag    "application" %>
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,700' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
</head>
<body>

<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">
    <nav class="tab-bar">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
      </section>

      <section class="middle tab-bar-section">
        <h1 class="title"><%= link_to "Remote Wind", root_path %></h1>
      </section>

      <section class="right-small">
        <a class="right-off-canvas-toggle menu-icon" href="#"><span></span></a>
      </section>
    </nav>

    <%= render 'layouts/flash' %>

    <section class="main-section" id="main-section">
      <%= yield :map %>
      <div class="row">
        <%= yield %>
      </div>
    </section>

    <%= render 'layouts/left_menu' %>
    <%= render 'layouts/right_menu' %>

    <a class="exit-off-canvas"></a>

  </div>
</div>

  <%= javascript_include_tag "application" %>
</body>
</html>

