<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title><%= content_for?(:title) ? yield(:title) : "Remote Wind" %></title>
  <!-- Set the viewport width to device width for mobile -->
<% cache do %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag    "application" %>
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,700,100italic,300italic,700italic' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <%= javascript_include_tag "application" %>
</head>
<body>
<div class="off-canvas-wrap">
  <div class="inner-wrap">

    <!-- Bar at top -->
    <nav class="tab-bar">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon" title="Stations"><span></span></a>
      </section>
      <section class="middle tab-bar-section">
        <h1 class="title"><%= link_to "Remote Wind", root_path %></h1>
      </section>
      <section class="right-small">
        <a class="right-off-canvas-toggle menu-icon" ><span></span></a>
      </section>
    </nav>
<% end %>
    <!-- Application notifications -->
    <%= render 'layouts/flash' %>

    <!-- pull in navigation -->
    <%= render 'layouts/left_menu' %>

    <!-- pull in navigation -->
    <%= render 'layouts/right_menu' %>

    <section class="main-section" id="main-section">
      <%= yield %>
    </section>
    <a class="exit-off-canvas"></a>
  </div>
</div>


</body>
</html>

